#navTop
    span.nav.link
        a(href="/")
            img(src='https://cdn.discordapp.com/attachments/899318683229364235/899365423395524658/ir.png')
    span.navtag
        a(href="/")
            span.navtext.keep Gitma Hub
        include arrow.pug
        if (bot && !site_key) 
            a(href=`/bots/${bot.botid}`)
                span.navtext #{bot.username}
            include arrow.pug
            a(href=`/api/embed/${bot.botid}` target="_blank")
                span.navtext Embed
        if ((req.baseUrl == "/user" || req.baseUrl == "/me") && userProfile)
            a(href=`/user/${userProfile.id}`)
                span.navtext #{userProfile.username}
        if (req.baseUrl == "/tag")
            a(href=`/tag/${tag}`)
                span.navtext.capitalise #{tag}
    a#searcher.navtag.keep.search(href='/bots/search/')
        #search.navtext
            i.fas.fa-search
            |  جستجو
    span.dropdown
        if (req.user)
            a#login.navtag.keep(href='/login') #{req.user.username}##{req.user.discriminator}
            span.dd-content
                a(href='/join' target='_blank') جوین سرور
                br
                a(href='/add') اضافه کردن بات
                br
                a(href='/api/theme') تغییر تم
                br
                a(href='/about') درباره
                if (req.user.staff)
                    br
                    a(href='/admin') داشبورد
                br
                a(href='/logout') خروج از خساب
        else
            a#login.navtag.keep(href='/login') Login
